services:
  web:
    build:
      target: test
    command: pytest
    volumes:
      - ./web:/src
    working_dir: /src
    environment:
      - MODE=test
      - DB_HOST=postgres
      - PYTHONPATH=/src
    env_file:
      - .test.env
    depends_on:
      postgres:
        condition: service_started
